extends ../layout

block head
    link(rel="stylesheet", href="/css/auth.css")

block content
    section.py-5.bg-light
        div.container
            div.text-center
                h2 Password Reset
            if infoMessages.length
                each message in infoMessages
                    div.alert.alert-success= message
            else
                p Tell us the email address linked to your account.
                form.needs-validation(action="/auth/forgot-password", method="post", novalidate)
                    div.form-group
                        label Email
                        input.form-control(type="email", name="username", required)
                    if errorMessages.length
                        each message in errorMessages
                            div.alert.alert-danger= message
                    button.btn.btn-block.btn-primary(type="submit") Reset Password

block scripts
    script(src="/js/auth.bundle.js")
