extends ../layout

block head
    link(rel="stylesheet", href="/css/auth.css")

block content
    section.py-5.bg-light
        div.container
            div.bg-white
                div.text-center
                    h2 #[img.align-top(src="/img/brand/logo.png", width="38", height="38")] Log In
                form.needs-validation(action="/auth/login", method="post", novalidate)
                    div.form-group
                        label Email
                        input.form-control(type="email", name="username", required)
                    div.form-group
                        label Password
                        input.form-control(type="password", name="password", required)
                        small.form-text #[a(href="/auth/forgot-password") Forgot your password?]
                    if errorMessages.length
                        each message in errorMessages
                            div.alert.alert-danger= message
                    button.btn.btn-block.btn-primary(type="submit") Log In
                div.py-3.text-center
                    small New to Ranked Royale? #[a(href="/auth/signup") Sign Up #[i.fas.fa-sign-in-alt]]

block scripts
    script(src="/js/auth.bundle.js")
