extends ../layout

block head
    link(rel="stylesheet", href="/css/auth.css")

block content
    section.py-5.bg-light
        div.container
            div.bg-white
                div.text-center
                    a(href="/")
                        img.mb-2(src="/img/brand/logo.svg", width="128", height="128")
                    h2 Reset Password
                form.needs-validation(action="/auth/reset-password/" + token, method="post", novalidate)
                    div.form-group
                        label New Password
                        input.form-control(type="password", name="password", required)
                    div.form-group
                        label Confirm Password
                        input.form-control(type="password", name="confirmPassword", required)
                    if errorMessages.length
                        each message in errorMessages
                            div.alert.alert-danger= message
                    button.btn.btn-block.btn-primary(type="submit") Update Password

block scripts
    script(src="/js/auth.bundle.js")
