footer.container
    hr
    div.row
        div.col-md-6
            small.text-muted &copy; Ranked Royale. #[a(href="https://www.fortnite.com/", target="_blank") Fortnite] is a registered trademark of #[a(href="https://www.epicgames.com/", target="_blank") Epic Games].
        div.col-md-6.text-right
            ul.list-inline
                li.list-inline-item
                    i.fas.fa-at.mr-1
                    a.text-muted(href="mailto:contact@rankedroyale.com") Email
                li.list-inline-item
                    i.fab.fa-discord.mr-1
                    a.text-muted(target="_blank", href="https://discord.gg/mRpdDJQ") Discord
                li.list-inline-item
                    i.fab.fa-twitter.mr-1
                    a.text-muted(target="_blank", href="https://twitter.com/RankedRoyale") Twitter
