footer.container.pt-5.my-md-5.border-top
    div.row
        div.col-md-6
            p.text-muted &copy; 2019 #[a(target="_blank", href="https://github.com/r0bc4ry") Rob Cary]. Fortnite is a registered trademark of Epic Games.
        div.col-md-6.text-right
            ul.list-inline
                li.list-inline-item
                    i.fas.fa-at
                    a.text-muted(href="mailto:contact@rankedroyale.com") Email
                li.list-inline-item
                    i.fab.fa-discord
                    a.text-muted(target="_blank", href="https://discord.gg/mRpdDJQ") Discord
                li.list-inline-item
                    i.fab.fa-twitter
                    a.text-muted(target="_blank", href="https://twitter.com/RankedRoyale") Twitter
