footer.bg-dark.text-muted
    div.container
        div.row.pt-3.pb-5
            div.col-lg-6
                p
                    small &copy; Ranked Royale. #[a.text-white(href="https://www.fortnite.com/", target="_blank") Fortnite] is a registered trademark of #[a.text-white(href="https://www.epicgames.com/", target="_blank") Epic Games].
                p
                    small Ranked Royale is supported by ad revenue and your donations. If you'd like to make a donation please visit our #[a.text-white(href="https://paypal.me/r0bc4ry", target="_blank") PayPal].
            div.col-lg-6
                ul.list-inline
                    li.list-inline-item
                        i.fas.fa-at.mr-1
                        a.text-muted(href="mailto:contact@rankedroyale.com") Email
                    li.list-inline-item
                        i.fab.fa-discord.mr-1
                        a.text-muted(target="_blank", href="https://discord.gg/mRpdDJQ") Discord
                    li.list-inline-item
                        i.fab.fa-twitter.mr-1
                        a.text-muted(target="_blank", href="https://twitter.com/RankedRoyale") Twitter
