html, body {
    height: 100%;
}

main .container {
    max-width: 512px;

    div.bg-white {
        padding: 1rem;

        @media (min-width: 768px) {
            padding: 3rem;
            clip-path: polygon(2% 100%, 0 0, 5% 1%, 8% 5%, 8% 1%, 98% 4%, 100% 100%);
        }
    }
}
