.d-flex {
    min-height: 324px;
    padding: 1rem;

    @media (min-width: 768px) {
        padding: 3rem;
        clip-path: polygon(0 100%, 2% 5%, 90% 0, 90% 5%, 93% 0, 100% 0, 96% 100%);
    }

    #step-1 h1 {
        font-variant-numeric: tabular-nums;
    }

    #step-2, #step-3 {
        display: none;
    }

    #step-3 .badge {
        position: relative;
        top: -2px;
    }
}
