extends layout

block head
    link(rel="stylesheet", href="/css/index.css")

block content
    include includes/navbar

    section.position-relative.bg-light
        div.container(style="padding-top: 2rem;")
            div.row
                div.col
                    h1.text-primary Ranked
                    ul.list-unstyled
                        li
                            h3 Getting Started
                            p Available after you've played 25 matches, ranked play is designed for players that want to put their skills to the test. To get started, log in to Ranked Royale, verify your Epic Games account, and then wait for the countdown. Once the countdown reaches 0, click "Play" in Fortnite and then enter the server ID for once the spawn island loads.
                            p Every player must first complete 10 placement matches to obtain their initial Elo rating. This rating will be a number between 1 and 3000, with higher values indicating a greater skill level. Players will also be assigned a tier based on their rating - Bronze, Silver, Gold, Platinum, or Epic.
                            p As you compete, your rating will increase or decrease with each win or loss based on a number of factors including your placement, number of kills, and the skill of the other players in the match.
                            div.row.text-center
                                div.col
                                    img.img-fluid.mb-3(src="/img/ranks/bronze.png")
                                    h4.mb-0 Bronze
                                    p.lead.text-muted 1-599
                                div.col
                                    img.img-fluid.mb-3(src="/img/ranks/silver.png")
                                    h4.mb-0 Silver
                                    p.lead.text-muted 600-1199
                                div.col
                                    img.img-fluid.mb-3(src="/img/ranks/gold.png")
                                    h4.mb-0 Gold
                                    p.lead.text-muted 1200-1799
                                div.col
                                    img.img-fluid.mb-3(src="/img/ranks/platinum.png")
                                    h4.mb-0 Platinum
                                    p.lead.text-muted 1800-2399
                                div.col
                                    img.img-fluid.mb-3(src="/img/ranks/epic.png")
                                    h4.mb-0 Epic
                                    p.lead.text-muted 2400+
                        li
                            h3 What are the rules?
                            p Don't stream snipe. Proof of stream sniping will result in your Epic Games account being banned from Ranked Royale.
    section.position-relative
        div.container
            div.row
                div.col
                    h1.text-primary Scrims
                    ul.list-unstyled
                        li
                            h3 What are scrims?
                            p Scrims are when multiple players queue at the same time to play against each other in the same match. They are generally more competitive than normal games.
    section.bg-light
        div.container.text-center
            div.row
                div.col
                    h3 Ready to get started?
                    a(href="/auth/signup")
                        button.btn.btn-lg.btn-secondary Sign Up

    include ./includes/footer
