extends layout

block head
    link(rel="stylesheet", href="/css/index.css")

block content
    div.jumbotron.jumbotron-fluid.overflow-hidden.text-white
        div.container.position-relative
            div.row
                div.col-md-7(style="z-index: 1")
                    h1.display-4 Ranked Royale
                    p.lead.mb-5 Competitive ranked matchmaking for Fortnite. Play against the best, to be the best.
                    a(href="/auth/signup")
                        button.btn.btn-lg.btn-secondary Get Started
            img(src="/img/llama.png")
    section.position-relative
        div.container
            div.row.mb-5
                div.col-8.offset-2.col-md-5.offset-md-0.col-lg-3.offset-lg-1
                    img.img-fluid(src="/img/promo-ranked.png")
                div.offset-lg-1.col-md-7.d-flex.align-items-start.flex-column.justify-content-center
                    h2 Ranked Matchmaking
                    p.lead Do you have what it takes to be Epic? Find out with our Elo-based ranked matchmaking system. Designed for players who want to put their skills to the test, we track your matches and give you a skill rating within one of five tiers - Bronze, Silver, Gold, Platinum, or Epic.
            div.row.mb-5
                div.col-8.offset-2.col-md-5.offset-md-0.col-lg-3.offset-lg-1.order-md-2
                    img.img-fluid(src="/img/promo-stats.png")
                div.col-md-7.order-md-1.d-flex.align-items-start.flex-column.justify-content-center
                    h2 Detailed Stats &amp; Match History
                    p.lead See your progress with our in-depth stat tracking, and use the results to hone your gameplay. Work your way through the tiers, up the leaderboards, and make a name for yourself in the competitive community.
            div.row
                div.col-8.offset-2.col-md-5.offset-md-0.col-lg-3.offset-lg-1
                    img.img-fluid(src="/img/promo-scrims.png")
                div.offset-lg-1.col-md-7.d-flex.align-items-start.flex-column.justify-content-center
                    h2 Constant Scrims
                    p.lead Want to raise your game? We offer constant scrim matches for free. Compete against other competitive players in a level above public matches.
    section.position-relative.bg-light
        div.container
            div.row
                div.col-md-4
                    i.h1.fas.fa-gamepad.text-primary
                    h3 Any Platform
                    p Whether your playing with a mouse and keyboard or controller, we've got you covered. Just select your preferred platform when signing up and we'll track the stats for you.
                div.col-md-4
                    i.h1.fas.fa-globe-americas.text-primary
                    h3 Play Anywhere
                    p Whatever your region, you can compete. Accurate countdowns, that even take your ping into account, guarantee the largest matches possible.
                div.col-md-4
                    i.h1.fas.fa-trophy.text-primary
                    h3 Leaderboards
                    p We feature global, platform-specific, and regional leaderboards. See how you stack up against your region or the world on any system.
    section
        div.container.text-center
            div.row
                div.col
                    h3 Ready to get started?
                    a(href="/auth/signup")
                        button.btn.btn-lg.btn-secondary Sign Up

