extends layout

block head
    link(rel="stylesheet", href="/css/index.css")

block content
    include includes/navbar

    div.jumbotron.jumbotron-fluid.overflow-hidden.text-white
        div.container.position-relative
            div.row
                div.col-md-6.col-lg-8
                    h1.display-4 Ranked Royale
                    p.lead Compete against the best, to be the best.
                    hr.bg-light.my-4
                    p Competitive ranked matchmaking for Fortnite.
                    a(href="/auth/signup")
                        button.btn.btn-lg.btn-secondary Get Started
            img(src="/img/llama.png")
    section.position-relative
        div.container
            div.row
                div.col-md-4
                    img.img-fluid(src="/img/ranks.png")
                div.offset-md-1.col-md-7.d-flex.align-items-start.flex-column.justify-content-center
                    h2 Ranked Matchmaking
                    p.lead Do you have what it takes to be Epic? Find out with our Elo-based ranked matchmaking system. Designed for players who want to put their skills to the test, we track your matches and give you a skill rating.
            div.row
                div.col-md-7.d-flex.align-items-start.flex-column.justify-content-center
                    h2 Match History
                    p.lead See your progress with our in-depth stat tracking. Work your way through the tiers, up the leaderboards, and make a name for yourself in the competitive community.
                div.offset-md-1.col-md-4
                    img.img-fluid(src="/img/ranks.png")
            div.row
                div.col-md-4
                    img.img-fluid(src="/img/ranks.png")
                div.offset-md-1.col-md-7.d-flex.align-items-start.flex-column.justify-content-center
                    h2 Constant Scrims
                    p.lead Want competitive matchmaking without the Elo rating? Play in our constant scrim matches for free.
                    span.badge.badge-pill.badge-warning Coming soon!
    section.position-relative.bg-light
        div.container
            div.row
                div.col-md-4
                    i.h1.fas.fa-gamepad.text-primary
                    h3 Any Platform
                    p Whether your playing with a mouse and keyboard or controller, we've got you covered. Just select your preferred platform when signing up and we'll track the stats for you.
                div.col-md-4
                    i.h1.fas.fa-globe-americas.text-primary
                    h3 Play Anywhere
                    p Whatever your region, you can compete. Accurate countdowns, that even take your ping into account, guarantee the largest matches possible.
                div.col-md-4
                    i.h1.fas.fa-trophy.text-primary
                    h3 Leaderboards
                    p We feature global, platform-specific, and regional leaderboards so you can see how you stack up.
                    span.badge.badge-pill.badge-warning Coming soon!
    section
        div.container.text-center
            div.row
                div.col
                    h3 Ready to get started?
                    a(href="/auth/signup")
                        button.btn.btn-lg.btn-secondary Sign Up

    include ./includes/footer
