doctype html
html(lang="en")
    head
        meta(charset="utf-8")
        meta(name="viewport", content="width=device-width, initial-scale=1, shrink-to-fit=no")

        if title
            title Ranked Royale - #{title}
        else
            title Ranked Royale

        if env.NODE_ENV === 'production'
            // Global site tag (gtag.js) - Google Analytics
            script(async, src="https://www.googletagmanager.com/gtag/js?id=UA-38958328-4")
            script.
                window.dataLayer = window.dataLayer || [];
                function gtag() {
                    dataLayer.push(arguments);
                }
                gtag('js', new Date());
                gtag('config', 'UA-38958328-4');

        link(rel="stylesheet", href="https://fonts.googleapis.com/css?family=Bungee|Open+Sans")
        link(rel="stylesheet", href="/css/vendor.css")

        block head
    body
        block content

        script(src="/js/vendor.bundle.js")
        block scripts
