extends layout

block content
    include includes/navbar

    main.container.py-5
        div.alert.alert-light
            h4.alert-heading Coming soon!
            p Visit our #[a(href="https://trello.com/b/eLXFD7MI/ranked-royale", target="_blank") Trello board] to see what we're working on.

    include ./includes/footer
