extends layout

block content
    include includes/navbar

    div.container.py-5
        div.alert.alert-primary
            h4.alert-heading Coming soon!
            p This is some text.

    include ./includes/footer
