extends layout

block content
    include includes/navbar

    div.container.py-3
        div.alert.alert-warning
            h4.alert-heading Coming soon!
            p Visit out #[a(href="https://trello.com/b/eLXFD7MI/ranked-royale", target="_blank") Trello board] to stay up to date with what we're working on.

    include ./includes/footer
