extends layout

block head
    link(rel="stylesheet", href="/css/play.css")

block content
    div.bg-light
        div.container.py-5
            div.row
                div.col.text-center.mb-5
                    div.badge.badge-secondary #[span#online-counter 1] Waiting to Play
            div.row.mb-5
                div.offset-lg-3.col-lg-6
                    div.d-flex.flex-column.justify-content-center.bg-white
                        if user.epicGamesAccount
                            div#step-1.text-center
                                p.mb-0 Match in progress, next #[strong Solo] match in...
                                h1.display-4 0s

                            div#step-2.text-center
                                h1.display-4 GLHF
                                p You're in a match with #[strong#in-match-counter 0] Ranked Royale player(s).
                                div.row
                        else
                            div.text-center
                                p.lead Uh-oh! Before you can play you must verify your Epic Games account.
                                a(href="/profile")
                                    button.btn.btn-large.btn-secondary Connect

            div.row
                div.offset-lg-3.col-lg-6
                    div.row.text-center
                        div.col
                            h1 #[i.fas.fa-clock]
                            h6 Wait For Countdown
                            h1.text-muted #[i.fas.fa-angle-right.position-absolute(style="top: 0.5em; right: 0;")]
                        div.col
                            h1 #[i.fas.fa-mouse-pointer]
                            h6 Press Play #[br] In Fortnite
                            h1.text-muted #[i.fas.fa-angle-right.position-absolute(style="top: 0.5em; right: 0;")]
                        div.col
                            h1 #[i.fas.fa-trophy]
                            h6 Win!

block scripts
    script.
        var host = '#{host}';
        var userId = '#{user._id}';
    script(src="/js/play.bundle.js")
