extends layout

block head
    link(rel="stylesheet", href="/css/play.css")

block content
    include ./includes/nav

    div.container
        div.my-5.text-center
            h1.display-4#countdown
            p.lead Until Next Match

        form(action="/api/matches/abc", method="put")
            label Please enter the last 3 digits of your server ID.
            div.input-group
                input.form-control(type="text")
                div.input-group-append
                    button.btn.btn-outline-secondary(type="button") Submit
            small.form-text.text-muted When in-game, you can this in the top left corner of your screen.

    include ./includes/footer

    script(src="/js/play.bundle.js")
