extends layout

block head
    link(rel="stylesheet", href="/css/play.css")

block content
    div.bg-light
        div.container.py-5(class=gameMode)
            div.row
                div.col.text-center
                    div.btn-group
                        a(href="/play/solo")
                            button.btn.btn-primary Solo
                        a(href="/play/duo")
                            button.btn.btn-primary Duos
                        a(href="/play/squad")
                            button.btn.btn-primary Squads
            div.row
                div.col.text-center.mb-5
                    div.badge.badge-secondary #[span#online-counter 1] Waiting to Play
            div.row.mb-5
                div.offset-lg-3.col-lg-6
                    div.d-flex.flex-column.justify-content-center.bg-white
                        if user.epicGamesAccount
                            if gameMode === 'duo' || gameMode === 'squad'
                                div.card.mb-3
                                    div.card-body.text-center
                                        h5.card-title Your Party
                                        div.row
                                            div.col-6 RobIsABot
                                            div.col-6 KittenMittens69
                                            div.col-6 LukeSaysHii
                                            div.col-6 Tfue
                                    div.card-footer.text-right
                                        small #[a.text-danger(href="#") Leave Party]
                                div.text-center
                                    p.lead You're Ranked Royale party is not full. Use the party invite link below to invite your friends.
                                    button#test-btn.btn.btn-secondary Copy Party Invite Link
                            else
                                div#step-1.text-center
                                    p.mb-0 Match in progress, next #[strong Solo] match in...
                                    h1.display-4 0s

                                div#step-2
                                    form.needs-validation(novalidate)
                                        h3.text-center Match Starting
                                        div.form-group
                                            label Last 3 Digits of Server ID #[i.fas.fa-question-circle.text-muted(data-toggle="tooltip", title="When in-game, you can find this in the top left corner of your screen below your display name.")]
                                            div.input-group
                                                input.form-control(type="text", name="serverId", pattern="[a-z0-9]{3}", required)
                                                div.input-group-append
                                                    button.btn.btn-primary(type="button") Submit
                                        div.alert.alert-danger.d-none

                                div#step-3.text-center
                                    h3 GLHF
                                    p You're in a match with #[strong#in-match-counter 1] Ranked Royale player(s).
                                    div.row
                        else
                            div.text-center
                                p.lead Before you can play you must verify your Epic Games account.
                                a(href="/profile")
                                    button.btn.btn-large.btn-secondary Connect

            div.row
                div.offset-lg-3.col-lg-6
                    div.row.text-center
                        div.col
                            h1 #[i.fas.fa-clock]
                            h6 Wait
                            h1.text-muted #[i.fas.fa-angle-right.position-absolute(style="top: 0.5em; right: 0;")]
                        div.col
                            h1 #[i.fas.fa-server]
                            h6 Enter #[br] Server ID
                            h1.text-muted #[i.fas.fa-angle-right.position-absolute(style="top: 0.5em; right: 0;")]
                        div.col
                            h1 #[i.fas.fa-trophy]
                            h6 Play!

block scripts
    script.
        var gameMode = '#{gameMode}';
        var host = '#{host}';
    script(src="/js/play.bundle.js")
