extends layout

block head
    link(rel="stylesheet", href="/css/play.css")

block content
    include includes/navbar

    div.container.py-5
        div.row
            div.col.text-center.mb-5
                div.btn-group.mr-3
                    button.btn.btn-primary Solo
                    button.btn.btn-primary(disabled) Duos
                    button.btn.btn-primary(disabled) Squads
                div.badge.badge-secondary #[span#online-counter 0] #[i.fas.fa-users]
        div.row.mb-5
            div.offset-lg-3.col-lg-6
                div.d-flex.flex-column.justify-content-center.bg-white
                    if user.epicGamesAccount
                        div#step-1.text-center
                            p.mb-0 Match in progress, next #[strong Solo] match in...
                            h1.display-4 0s

                        div#step-2
                            form.needs-validation(novalidate)
                                h3.text-center Server ID
                                div.form-group
                                    label Last 3 Characters of Server ID
                                    div.input-group
                                        input.form-control(type="text", name="serverId", pattern="[a-z0-9]{3}", required)
                                        div.input-group-append
                                            button.btn.btn-primary(type="button") Submit
                                    small.form-text.text-muted When in-game, you can find this in the top left corner of your screen.
                                div.alert.alert-danger.d-none #[strong Heads up!] Only matches with at least 5 Ranked Royale players will count toward your stats.

                        div#step-3.text-center
                            h1.display-4 GLHF
                            p You're in a match with #[strong#in-match-counter 1] Ranked Royale player(s).
                            div.alert.alert-warning #[strong Heads up!] Only matches with at least 5 Ranked Royale players will count toward your stats.
                    else
                        div.text-center
                            p.lead Uh-oh! Before you can play you must verify your Epic Games account.
                            a(href="/profile")
                                button.btn.btn-large.btn-secondary Connect

        div.row
            div.offset-lg-3.col-lg-6
                div.row.text-center
                    div.col
                        h1 #[i.fas.fa-clock]
                        h6 Wait
                        h1.text-muted #[i.fas.fa-angle-right.position-absolute(style="top: 0.5em; right: 0;")]
                    div.col
                        h1 #[i.fas.fa-server]
                        h6 Enter #[br] Server ID
                        h1.text-muted #[i.fas.fa-angle-right.position-absolute(style="top: 0.5em; right: 0;")]
                    div.col
                        h1 #[i.fas.fa-trophy]
                        h6 Play!

    include ./includes/footer

block scripts
    script.
        var host = '#{host}';
    script(src="/js/play.bundle.js")
