extends layout

block head
    link(rel="stylesheet", href="/css/support.css")

block content
    section.position-relative.bg-light
        div.container(style="padding-top: 2rem;")
            div.row
                div.col
                    h1.text-primary Support

                    ul.list-unstyled
                        li.mb-5
                            h3 I added Ranked Royale as a friend, but it did not accept my request.
                            p Unless Ranked Royale is offline, it should accept your friend request. Make sure to double check your entire friends list and try restarting your game and/or the Epic Games Launcher. It is also possible your Epic Games account is already connected to another Ranked Royale user, halting the process.
                            p If after a few minutes you still don't see the friend, please remove and readd Ranked Royale to restart the verification process.
                        li.mb-5
                            h3 Ranked Royale accepted my friend request, but I do not see a verification code.
                            p You should receive a code in a chat message within Fortnite or the Epic Games Launcher. This is found in the bottom left corner of the Fortnite lobby or a separate window in the Epic Games Launcher. If after a few minutes you don't see a code, please remove and readd Ranked Royale as a friend to restart the verification process.
                        li
                            h3 My match stats did not get tracked.
                            p Match stats are updated once a match has ended (i.e. someone wins). If your stats still do not appear, there are a number of reasons a match could go untracked. Solo matches must have 4 Ranked Royale players and duo/squad matches must have at least 2 teams of Ranked Royale players to count toward your stats and Elo rating. If Epic's stats report more than one match for you when a match ends, we do not record the match in your stats. It could also just be a bug on our end. If you're having trouble, please contact us.
    section
        div.container.text-center
            div.row
                div.col
                    h3 Still having issues?
                    a(href="mailto:contact@rankedroyale.com")
                        button.btn.btn-lg.btn-secondary Contact Us

