extends layout

block head
    link(rel="stylesheet", href="/css/index.css")

block content
    include includes/navbar

    section.position-relative.bg-light
        div.container(style="padding-top: 2rem;")
            div.row
                div.col
                    h1.text-primary Support

                    ul.list-unstyled
                        li.mb-5
                            h3 I added "Ranked Royale" as a friend, but it did not accept.
                            p Unless #[strong Ranked Royale] is offline, it should accept your friend request. If you do not see it, make sure to scroll through your entire friends list before restarting your game and/or the Epic Games Launcher. If after a few minutes you don't see the friend, please remove and readd #[strong Ranked Royale] to restart the process. If you're still having trouble, please contact us.
                        li.mb-5
                            h3 "Ranked Royale" accepted my friend request, but I do not see a code.
                            p You should receive a code within a chat message in Fortnite or the Epic Games Launcher. If after a few minutes you don't see a code, please remove and readd #[strong Ranked Royale] as a friend to restart the process. If you're still having trouble, please contact us.
                        li.mb-5
                            h3 My match stats did not get tracked.
                            p Match stats are only updated once a match has fully completed (i.e. someone wins). If your stats still do not appear, there are a number of reasons a match could go untracked. To keep matches competitive, if a match has less than 5 players it will not count toward your stats or Elo rating. If Epic reports more than one match for you at a time when a match ends, we do not record the match (this should not be common). There could also just be a bug on our end. If you're having trouble, please contact us.
    section
        div.container.text-center
            div.row
                div.col
                    h3 Still having issues?
                    a(href="/auth/signup")
                        button.btn.btn-lg.btn-secondary Contact Us

    include ./includes/footer
